fieldset{
	width: 500px;
}
legend{
	color:red;
	font-size: 30px;
}
#colors{
    border:2px solid gainsboro;
    height:50px;
}
p{
    height:20px;
	width: 20px;
	float:left;
	margin:15px;
}
article{
	padding:10px
}
.top{
	margin-top:10px
}